<a href="https://colab.research.google.com/github/RishabhDhawad/AI-Practical/blob/main/ANN_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.duplicated().sum()   #DUplicate Row

0

In [9]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [11]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [12]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [14]:
df.drop(columns = ['RowNumber', 'CustomerId', 'Surname'], inplace= True)

In [15]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
df = pd.get_dummies(df,columns=['Geography','Gender'], drop_first = True)

In [17]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [21]:
X = df.drop(columns=['Exited'])
y = df['Exited'].values

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [23]:
X_train.shape

(8000, 11)

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [26]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [27]:
X_train_scaled

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [28]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [29]:
model = Sequential()

In [31]:
model.add(Dense(3,activation='sigmoid', input_dim=11))  # First Hidden LAyer

In [32]:
#model.add(Dense(11,activation='relu'))    # Second Hidden Layer

In [33]:
model.add(Dense(1,activation='sigmoid'))    #Output LAyer

In [34]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 36

 dense_1 (Dense)             (None, 3)                 12

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 52
Trainable params: 52
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics  = ['Accuracy'] )

In [47]:
model.fit(X_train_scaled, y_train, epochs = 10)   # We can also increase Epochs

Epoch 1/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4068 - Accuracy: 0.8345
Epoch 2/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4066 - Accuracy: 0.8355
Epoch 3/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4064 - Accuracy: 0.8353
Epoch 4/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4061 - Accuracy: 0.8350
Epoch 5/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4059 - Accuracy: 0.8344
Epoch 6/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4058 - Accuracy: 0.8347
Epoch 7/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4055 - Accuracy: 0.8346
Epoch 8/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4054 - Accuracy: 0.8344
Epoch 9/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4052 - Accuracy: 0.8349
Epoch 10/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4050 - Accuracy: 0.8346

In [48]:
model.layers[0].get_weights()

[array([[-0.08157131, -0.0612712 ,  0.23115543],
        [-0.55840045, -1.9628574 , -3.59621   ],
        [-0.18460809,  0.03749377,  0.09310491],
        [ 0.24758752, -0.90142125,  0.41625515],
        [-0.3208486 ,  0.17760193,  0.03484523],
        [-0.1548502 ,  0.01534894, -0.07267156],
        [-2.3931758 ,  0.24270687, -1.14776   ],
        [ 0.16054691, -0.22321402,  0.14277996],
        [ 0.49446535, -1.0881113 , -0.30813178],
        [-0.08242588,  0.11943411, -0.26303357],
        [-0.58319914,  1.0640646 , -0.12832952]], dtype=float32),
 array([ 0.6638494 , -0.17473345,  0.59394366], dtype=float32)]

In [49]:
y_log  = model.predict(X_test_scaled)

63/63 [==============================] - 0s 1ms/step

In [50]:
y_pred = np.where(y_log>0.5,1,0)

In [51]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.842